
.k-section-header {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-2);
}
.k-workshop {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}
.k-products td,
.k-products th {
  text-align: left;
  font-size: var(--text-sm);
  padding: var(--spacing-2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--color-white);
}
.k-item-category-id {
  width: 8rem;
}
.k-product-price {
  width: 5rem;
  font-variant-numeric: tabular-nums;
  text-align: right !important;
}
.k-product-options {
  padding: 0 !important;
  width: 3rem;
  overflow: visible !important;
}

.k-section-header {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-2);
}
.k-workshop {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}
.k-products td,
.k-products th {
  text-align: left;
  font-size: var(--text-sm);
  padding: var(--spacing-2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--color-white);
}
.k-item-category-id {
  width: 8rem;
}
.k-product-price {
  width: 5rem;
  font-variant-numeric: tabular-nums;
  text-align: right !important;
}
.k-product-options {
  padding: 0 !important;
  width: 3rem;
  overflow: visible !important;
}

.k-image {
  height: 10px;
  width: auto;
}

.k-products {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}
.k-products td,
.k-products th {
  text-align: left;
  font-size: var(--text-sm);
  padding: var(--spacing-2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--color-white);
}
.k-product-options {
  padding: 0 !important;
  width: 3rem;
  overflow: visible !important;
}

.k-headline {
  margin-bottom: 8px;
}

video[data-v-9c322c14] {
  max-width: 100%;
  max-height: 100%;
}
.scanner-container[data-v-9c322c14] {
  position: relative;
}
.overlay-element[data-v-9c322c14] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 99%;
  background: rgba(30, 30, 30, 0.5);

  -webkit-clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 20%, 80% 20%, 80% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 20%, 80% 20%, 80% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0%);
}
.laser[data-v-9c322c14] {
  width: 60%;
  margin-left: 20%;
  background-color: tomato;
  height: 1px;
  position: absolute;
  top: 40%;
  z-index: 2;
  box-shadow: 0 0 4px red;
  -webkit-animation: scanning-data-v-9c322c14 2s infinite;
  animation: scanning-data-v-9c322c14 2s infinite;
}
@-webkit-keyframes scanning-data-v-9c322c14 {
50% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
}
}
@keyframes scanning-data-v-9c322c14 {
50% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
}
}

.k-row {
  margin-bottom: 20px;
}
