
.k-stats {
  margin-bottom: var(--spacing-10);
}

.k-inventory {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.k-inventory th {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-gray-100);
}
.k-inventory td {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  background: var(--color-white);
}

.k-products {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}
.k-products td,
.k-products th {
  text-align: left;
  font-size: var(--text-sm);
  padding: var(--spacing-2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--color-white);
}
.k-product-options {
  padding: 0 !important;
  width: 3rem;
  overflow: visible !important;
}

.k-headline {
  margin-bottom: 8px;
}

.k-products {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}
.k-products td,
.k-products th {
  text-align: left;
  font-size: var(--text-sm);
  padding: var(--spacing-2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--color-white);
}
.k-product-options {
  padding: 0 !important;
  width: 3rem;
  overflow: visible !important;
}

.k-image {
  height: 10px;
  width: auto;
}
